@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}
/* header */

.posicionamento-header {
    position: relative;
}

.container-grid {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    height: 80px;
    background-color: #202121;
    font-family: 'Roboto', sans-serif;
}

.pesquisa {    
    width: 460px;
    margin: 15px;
}

.pesquisa input {
    height: 34px;
    width: 400px;
    border-radius: 5px;
    border: none;
}
.pesquisa button {
    color:#FF0000;
    font-size: 26px;
    border: none;
    background: none;
    position: relative;
    right: 38px;
    top: 5px;   
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.menu a:hover {
    color: #FF0000;
}

.barras {
    display: none;
}

.carrinho-login {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.carrinho-compras {
    border: none;
    background: none;
    color: #FF0000;
    font-size: 40px;
}

.fazer-Login {
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 25px;
}

/*  banner 01 */

.banner01 {
    background-image: url(../imagens/bg01.png);
    height: 741px;  
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;   
    display: flex;
    justify-content: flex-start;
}

.container-externo {
    width: 95%;
    display: flex;
    justify-content: center;
}

.container-banner01 {
    width: 1358px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-banner01 img {
    width: 65%;
}

.texto-banner01 {
    width: 383px;
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.texto-banner01 h1{    
    font-size: 36px;
    font-weight: bold;
}
.texto-banner01 p {
    font-size: 20px;
}
.texto-banner01 a {    
    font-size: 30px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/* banner 02 */

.banner02 {
    background-image: url(../imagens/bg02.png);
    height: 725px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;   
    display: flex;
    justify-content: flex-start;   
}

.container-externo02 {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.container-banner02 {
    width: 1358px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container-banner02 img {
    width: 855px;
}

.texto-banner02 {
    width: 383px;
    color: white;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.texto-banner02 h1{    
    font-size: 36px;
    font-weight: bold;
}
.texto-banner02 p {
    font-size: 20px;
}

.texto-banner02 a {    
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

 /* newsletter */

 .banner-newsletter {
    background-image: url(../imagens/bg03.png);
    height: 130px;
    background-repeat: no-repeat;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-newsletter{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-newsletter img {
    width: 130px;
}

.texto-newsletter {
    width: 457px;
    height: 78px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: white;
    text-align: left;
    margin-bottom: 0;
}

.cadastro-newsletter input {
    width: 405px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.cadastro-newsletter button {
    color:#FF0000;
    font-size: 26px;
    border: none;
    background: none;
    position: relative;
    right: 30px;  
}

/* seção produtos */

.secao-produtos{
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-card-externo01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-card-externo01 i {
    font-size: 75px;
    color: #FF0000;
}

.container-card-externo02 {
    width: 1700px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.container-card-externo {
    margin: 10px;
    width: 372px;
    height: 562px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card {
    width: 325px;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;        
}

.container-card img {
    width: 325px;
    height: 308px;
}

.container-card h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: black;
}

.preco-produto {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FF0000;
}

.container-card span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
}

.container-card a {    
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 4px 4px 4px #888888;
}

/*  footer  */

footer {
    height: 295px;
    background-color: #202121;
    font-family: 'Roboto', sans-serif;
}

.container-footer img{
    width: 150px;
}

.container-newsletter-footer {
    display: none;
}

.texto-newsletter-footer {
    width: 400px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
    text-align: left;
    margin-bottom: 0;
}

.cadastro-newsletter-footer input {
    width: 258px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.cadastro-newsletter-footer button {
    color:#FF0000;
    font-size: 22px;
    border: none;
    background: none;
    position: relative;
    right: 30px;  
}

.footer-links-principal a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-top: 5px;
}
.footer-links {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px; 
    margin-top: 5px;
}

.redes-sociais i {
    font-size: 55px;
    color: white;
    margin: 6px;
}

@media screen and (max-width: 1762px){
    .footer-links-principal a {
        font-size: 24px;
    }
    .footer-links a{
        font-size: 18px; 
    }

    .footer-links {
        font-size: 18px; 
    }
    .redes-sociais i {
        font-size: 45px;
    }
}

@media screen and (max-width: 1450px){
    .container-grid {
        width: 95%;
    }

    /* .pesquisa input {
        width: 146px;
    } */
    
    .menu {
        display: none;
        flex-direction: column;
        width: 250px;
        background-color: #202121;
        position: absolute;
        top: 70px;
        right: -17px;
    }

    .menu a {
        padding: 15px;
    }

    .menu-ativo {
        display: flex;
    }

    .carrinho-login {
        width: 240px;
        display: flex;
        align-items: center;
    }
    .barras {
        display: flex;
        color: white;
        font-size: 40px;
        text-decoration: none;
    }

    /* banner 01 */
    
    .banner01 {
        margin: 0;
    }

    /* banner 02 */
    
    .banner02 {
        margin: 0;
    }

    .container-banner02 img {
        width: 65%;
    }
    
    .container-banner02 {
        width: 95%;
    }

     /* newsletter  */
     .banner-newsletter {
         margin: 0;
     }

     /* footer  */
     .footer-links-principal a {
        font-size: 22px;
    }
    .footer-links a{
        font-size: 17px; 
    }

    .footer-links {
        font-size: 17px; 
    }
    .redes-sociais i {
        font-size: 40px;
    }
}

@media screen and (max-width: 1399px) {
    footer {
        height: 900px;
    }

    .footer-links-principal a {
        font-size: 26px;
    }

    .footer-links a{
        font-size: 22px; 
    }

    .footer-links {
        font-size: 22px; 
    }

    .redes-sociais i {
        font-size: 55px;
    }

    .container-newsletter-footer {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    /* newsletter  */
    .banner-newsletter{
        display: none;
    }
        
}

@media screen and (max-width: 982px) { 
    .texto-newsletter-footer {
        width: 400px;
        height: 106px;
    }
    .pesquisa input {
        width: 380px;
    }
    
    .banner01 {
        height: 500px;
    }
    .container-banner01 {
        width: 1358px;
        display: flex;
        justify-content: center;
    }
    .container-banner01 img {
        display: none;
    }

    .banner02{
        height: 500px;
    }
    .container-banner02 {
        width: 1358px;
        display: flex;
        justify-content: center;
    }
    .container-banner02 img {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    footer {
        height: 1350px;
    }
    .texto-newsletter-footer {
        width: 400px;
        height: 78px;
    } 
    
    .pesquisa {
        display: none;
    }
}